#cover {
    background: #222 url('https://unsplash.it/1920/1080/?random') center center no-repeat;
    background-size: cover;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    position: relative;
}

#cover-caption {
    width: 100%;
    position: relative;
    z-index: 1;
}

/* only used for background overlay not needed for centering */
form:before {
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: -1;
    border-radius: 10px;
}
/*product*/
.featured-categories {
    margin: 50px 0;
}

    .featured-categories img {
        width: 100%;
        height: 300px;
        padding: 20px 0;
        transition: 1s;
        cursor: pointer;
    }

        .featured-categories img:hover {
            transform: scale(1.1);
        }
/*--------On sale----*/
.title-box {
    background: blue;
    color: #fff;
    width: 180px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}

    .title-box h2 {
        font-size: 24px;
    }

    .title-box::after {
        content: '';
        border-top: 40px solid blue;
        border-right: 50px solid transparent;
        position: absolute;
        display: flex;
        margin-top: -4px;
        margin-left: 170px;
    }
/*---------product-top css------------*/
/*.product-top img {
    width: 100%;
    height: 200px;
}

.overlay-right {
    display: block;
    opacity: 0;
    position: absolute;
    top: 10%;
    margin-left: 0%;
    width: 70px;
}

    .overlay-right .fa {
        cursor: pointer;
        background-color: #fff;
        color: #000;
        height: 35px;
        width: 35px;
        font-size: 20px;
        padding: 7px;
        margin: 5%;
        margin-bottom: 5%;
    }

    .overlay-right .btn-secondary {
        background: none !important;
        border: none !important;
        box-shadow: none !important
    }

.product-top:hover .overlay-right {
    opacity: 1;
    margin-left: 5%;
    transition: 0.5s;
}*/
/*------product-bottom-css--------*/
/*.product-bottom .fa {
    color: orange;
    font-size: 10px;
}

.product-bottom h3 {
    font-size: 20px;
    font-weight: bold;
}

.product-bottom h5 {
    font-size: 15px;
    padding-bottom: 10px;
}

.new-products {
    margin: 50px 0;
}*/